---
import ChapterList from "@/components/ChapterList.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const allChapters = await getCollection("genki-1");
const chaptersLinks = allChapters.map((chapter) => ({
  slug: chapter.slug,
  title: chapter.data.title,
}));
---

<Layout title="Genki 1">
  <!-- <main class="p-4 flex flex-col grow">
    <div
      class="w-full max-w-2xl grow mx-auto shadow rounded-lg p-8 bg-[#3E1F47]"
    >
      <h1 class="text-4xl font-semibold">Genki 2</h1>
      <h2 class="text-xl">All Chapters</h2>
      <ul class="mt-8 space-y-4">
        {
          allChapters.map((chapter) => (
            <a href={`/genki-1/${chapter.slug}`}>
              <li class="p-2 font-semibold hover:bg-[#4D194D] my-2 border-b border-white">
                {chapter.data.title}
              </li>
            </a>
          ))
        }
      </ul>
    </div>
  </main> -->
  <ChapterList
    title="Genki 1"
    subTitle="All Chapters"
    chapters={chaptersLinks}
    baseUrl="/genki-1"
  />
</Layout>
