---
import Layout from "@/layouts/RootLayout.astro";
import genki1 from "@/assets/genki-1-3rd-edition.jpg";
import genki2 from "@/assets/genki-2-3rd-edition.jpg";
import Card from "@/components/Card.astro";
---

<Layout title="Japanese Notes">
  <main class="grow">
    <h1 class="text-4xl text-center font-bold mb-8">Genki</h1>
    <div class="grid grid-cols-1 gap-8">
      <Card
        image={genki1}
        title="Genki 1: An Integrated Course in Elementary Japanese (Textbook)"
        edition={3}
        releasedYear="2020"
        href="/genki-1"
      />
      <Card
        image={genki2}
        title="Genki 2: An Integrated Course in Elementary Japanese (Textbook)"
        edition={3}
        releasedYear="2020"
        href="/genki-2"
      />
    </div>
  </main>
  <footer class="p-2 mt-3 text-center">
    <span class="text-gray-400"
      >Created by <a
        class="hover:text-[#F3DFA2]"
        href="https://www.github.com/danielfr9"
        target="_blank">@danielfr9</a
      ></span
    >
  </footer>
</Layout>
